/**************Paragraph*********/
p{
    font-size: xx-large;
    text-align: center;  
    font-family: 'Quicksand', sans-serif;
    color: white;
  }

/**************HTML*********/
html {
    height: 100%;
    scroll-behavior: smooth;
    margin: 0%;
    padding: 0%;

}

/**************Body*********/
body {
    height: 100%;
    background-image: url('images/stocks.jpg');
    margin: 0%;
    padding: 0%;
    
}
/**************Scroll down arrow *********/
.arrow{
  text-align: center; 
  margin-top: 200px;
}

.arrowImage{
  width: 30px;
  height: 30px;
}
/**************Title and Header Styles *********/
.header{
  padding: 0px;
}

.next{
  width: 50px;
  height: 50px;
}

.back{
  width: 50px;
  height: 50px;
}

#titleCol{
  padding: 30px;
}

#title{
  font-size: xx-large; 
  color: white;
}

/**************Home Page Styles *********/
#homeSectionOneImage{
  width: 50%;
  height: 50%;
  margin-left: 25%;
}

#yahooFinanceLogo{
  width:75%;
  height: 75%;
  margin-left: 15%;
  margin-top: 10%; 
  margin-bottom: 10%;
}

#homeSection3{
  padding-top: 100px; 
  padding-right: 100px; 
  padding-left: 100px; 
}

#websiteDescription{
  text-align: left;  
  color: white; 
  font-size: xx-large;
}

#clickHereLeftSide{
  padding-top: 100px; 
  padding-right: 100px; 
  padding-left: 100px;
}

#clickHereRightSide{
  padding-top: 100px; 
  padding-right: 100px; 
  padding-left: 100px;
}

.option{
  color: yellow;
}

#sectionTwoCol{
  padding-bottom: 100px; 
  padding-top: 100px;
}

/**************Content Pages Styles *********/
#introImage{
  padding-bottom: 100px; 
  padding-top: 100px;
}

#introImageSrc{
  border-radius: 5%; 
  height: 70%;
  width: 80%;
}

#introCol{
  padding-bottom: 100px; 
  padding-top: 100px; 
  padding-right: 100px; 
  padding-left: 100px;
}

.introColText{
  text-align: left; 
  margin-bottom: 150px;
}

#sectionTwoListTitle{
  font-size: xx-large; 
  text-align: left; 
  padding-bottom: 100px; 
  padding-right: 100px; 
  padding-left: 100px;
}

.sectionTwoListBullets{
  font-size: x-large; 
  text-align: left;  
  padding-right: 100px; 
  padding-left: 100px;
}

.sectionTwoCol{
  padding-bottom: 100px; 
  padding-top: 100px; 
  padding-right: 100px; 
  padding-left: 100px;
}

#sectionTwoImageImage{
  width: 500px;
  height: 500px;
}

#sectionThreeCol{
  padding-bottom: 50px;
}

#sectionThreeTitleText{
  text-align: center; 
  margin-bottom: 50px;
}

#headImageCol{
  padding: 50px;
}

.mx-auto{
  border-radius: 10%;
}

#funFactRow{
  padding-right: 160px; 
  padding-left: 160px; 
}

#funFact{
  color: white;
}

#sectionThreeArrow{
  margin-top: 50px; 
  margin-left: 48.5%;
}

#threeButtonRow{
  margin-left: 10%;
}

/**************Tutorial Page Styles *********/

#emojiImage{
  width: 75%; 
  height: 75%;
  margin-left: 15%; 
  margin-top: 10%; 
  margin-bottom: 20%;
}

#sectionFourCol{
  padding-bottom: 50px; 
  padding-top: 100px; 
  padding-right: 100px; 
  padding-left: 100px;
}

#sectionFourText{
  text-align: left; 
  margin-bottom: 150px; 
  color: white;
}

#sectionFourArrow{
  margin-left: 48.5%;
}

#sectionFiveCol{
  padding-top: 100px; 
  padding-right: 100px; 
  padding-left: 100px; 
}

#sectionFiveText{
  text-align: left;  
  color: white; 
  font-size: xx-large; 
  margin-left: 10%;
}

#sectionSixHomeText{
  padding-top: 100px; 
  padding-right: 100px; 
  padding-left: 100px; 
}

#sectionSixContentText{
  padding-top: 100px; 
  padding-right: 100px; 
  padding-left: 100px; 
}

#yahooLogo{
  width: 80%;
  height: 80%;
  margin-left: 5%;
}

/**************Other Styles *********/

button {
    background: #eeeeee;
    height: 50px;
    width: 150px;
   
    border: 0;
    border-radius: 10%;

   display:block;
   padding: 0;
   margin: 0;
   font-family: 'Quicksand', sans-serif;
   
  }

  button:hover {
    background: #99cccc;
    height: 50px;
    width: 150px;
    
    border: 0;
    border-radius: 10%;
   
   display:block;
   padding: 0;
   margin: 0;
   font-family: 'Quicksand', sans-serif;


  }

  button:focus { 
    outline: none;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10%;

  }


    input {
        position: relative;
        font-family: 'Quicksand', sans-serif;

        
  }




#headImage{
  margin-left:auto;
  margin-right:auto;
  display:block;}

  ul {
  display: inline-block;
  text-align: left;
  font-size: x-large;
  font-family: 'Quicksand', sans-serif;
  color: white; 
  text-align: center;
}

div {
  text-align: center;
}

div.row{
  margin-top:20px;
}

div.col {
  font-family: 'Quicksand', sans-serif;

}



.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;

}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

.axisWhite {
  stroke: white;
}

.ticks path {
  stroke: white;
  opacity: 0.3;
}

.domain {
  fill: none;
  stroke: white;
  stroke-width: 1px;
}

.tick {
  fill: none;
  stroke: white;
  stroke-width: 1px;
}

line {
  fill: none;
  stroke: white;
  stroke-width: 1px;
}

.col .wow .fadeIn{
  margin-top: 50px;
}

#funFactRow{
  margin-top: 100px;;
}

.home {
  width:960px;
  margin:1rem auto;
  position: relative;
}

.overlay-text {
  background:rgba(255,255,255,0.5);
  position: absolute;
  top:50%;
  left:0;
  padding:1rem;
  transform:translateY(-50%);

}




