/**************Paragraph*********/
p{
    font-size: xx-large;
    text-align: center;  
    font-family: 'Quicksand', sans-serif;
    color: white;



  }



html {
    height: 100%;
    scroll-behavior: smooth;

}

body {
    height: 100%;
    background-image: url('images/stocks.jpg');
    
}


button {
    background: #eeeeee;
    height: 50px;
    width: 150px;
   
    border: 0;
    border-radius: 10%;

   display:block;
   padding: 0;
   margin: 0;
   font-family: 'Quicksand', sans-serif;
   
  }

  button:hover {
    background: #99cccc;
    height: 50px;
    width: 150px;
    
    border: 0;
    border-radius: 10%;
   
   display:block;
   padding: 0;
   margin: 0;
   font-family: 'Quicksand', sans-serif;


  }

  button:focus { 
    outline: none;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10%;

  }


    input {
        position: relative;
        font-family: 'Quicksand', sans-serif;

        
  }




#headImage{
  margin-left:auto;
  margin-right:auto;
  display:block;}

  ul {
  display: inline-block;
  text-align: left;
  font-size: x-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
  text-align: center;
}

div.row{
  margin-top:20px;
}

div.col {
  font-family: 'Quicksand', sans-serif;

}



.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;

}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

.axisWhite {
  stroke: white;
}

.ticks path {
  stroke: white;
  opacity: 0.3;
}

.domain {
  fill: none;
  stroke: white;
  stroke-width: 1px;
}

.tick {
  fill: none;
  stroke: white;
  stroke-width: 1px;
}

line {
  fill: none;
  stroke: white;
  stroke-width: 1px;
}

.col .wow .fadeIn{
  margin-top: 50px;
}

#funFactRow{
  margin-top: 100px;;
}





