/**************Paragraph*********/
p{
    font-size: large;
    text-align: center;  
}

html {
    height: 100%;
}

body {
    height: 100%
}


button {
    background: #eeeeee;
    height: 150px;
    width: 150px;
   
    border: 0;

   display:block;
   padding: 0;
   margin: 0;
  }

  button:hover {
    background: #99cccc;
    height: 150px;
    width: 150px;
    
    border: 0;
    margin-left:auto;
   margin-right:auto;
   display:block;
   padding: 0;
   margin: 0;

  }

  button:focus { outline: none; }


    input {
        position: relative;
        
  }




#headImage{
  margin-left:auto;
  margin-right:auto;
  display:block;}

  ul {
  display: inline-block;
  text-align: left;
}

div {
  text-align: center;
}

div.row{
  margin-top:20px;
}
